export MAILREMINDER_USERNAME=
export MAILREMINDER_PASSWORD=
export MAILREMINDER_SMTP_HOST=
export MAILREMINDER_SMTP_PORT=
export MAILREMINDER_IMAP_HOST=
export MAILREMINDER_IMAP_PORT=
export MAILREMINDER_MAILBOX_IN=
export MAILREMINDER_MAILBOX_PROCESSED=
